*{
    font-family: 'Montserrat';
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#FAF7F2;
    min-height: 100vh;
}

.Login{
    width: 500px;
    justify-content: center;
   
}
.Logo{
    text-align: center;
}
.Logo img{
    width: 450px;
}
.input p{
    font-size: 15px;
}
.Login .input-box-1{
    width: 100%;
    margin: 30px 0;
    height: 70px;
}
.Login .input-box-2{
    width: 100%;
    margin: 60px 0 70px;
    height: 70px;
}
.input-box-1 input{
    outline: none;
    box-shadow:0 5px 5px rgba(0,0,0,.1);
    font-size: 15px;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 90%;
}
.input-box-2 input{
    box-shadow:0 5px 5px rgba(0,0,0,.1);
    font-size: 15px;
    outline: none;
    padding-left: 20px;
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 90%;
}
.Login .login-button{
    margin-top: 5;
    text-align: center;
}
.Login button{
    text-align: center;
    width: 50%;
    height: 50px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 10px;
    border:none;
    background-color: #CEB888 ;
}
.Login button:hover{
    transition: 0.5s;
    background-color: #FAF7F2 ;
    border: black;
}
